body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("cute.jpg");
    background-size: cover; 

}
.login-box{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;      
}
.login-box{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0 ;
    border-bottom: 1px solid; 
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80px ;
    float: left;
    margin:0 10px ;
}
.btn{
    width: 100%;
    background: none;
    background-color: red;
    border: 20px solid #4caf50;
    color: white;
    padding: 5px; 
    font-size: 10px;
    cursor: pointer;
    margin: 12px 0;
}